/*
.admin-manage-left {
    margin-top: 50px;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
    line-height: 180%;
    margin-right: 1.5em;
}
*/
.manage-table{
	margin-right: var(--width-sb);
	padding:15px;
}

.table-view{
	padding:10px;
}