.input-box{
    width: 100%;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}

.input-box label {
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
	align-items: center;
    justify-content: center;
}

.input-box input {
    width: 75%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
