.all-home {
 	min-height: 100vh;
 	/* max-height: 100vh; */
}

.wrapper {
	width: 100%;
	height: 1000px;
	background-color: black;
}

.intro {
	background-color: pink;
	width: 100%;
	/*height: 300px;*/
}

.inside-intro {
	width: 100%;
	height: 700px;
	border: 5px solid white;
}


.word {
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 110px;
	left: 45%;
}

.service {
	width: 100%;
	height: auto;
	background-color: blue;
}

.inside-service {
	float: left;
	width: 50%;
	height: 580px;
	border: 5px solid white;
}