/*
.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease-out;
}

.main-content.open {
  margin-left: 300px;
}

.sidebar.open {
  right: 0; 
}
*/
:root{
	--width-sb: 300px;
}
.sidebar {
	margin:var(--height-header) 0 0 0;
	position: fixed;
	top: 0;
	/* right: -300px; Start off-screen */
	right : 0;
	width: var(--width-sb);
	height: 100%;
	background-color: var(--color-primary);
	/* transition: right 0.3s ease-out; Apply transition effect */
}

/*
.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
*/
.menu-separator {
	/*height: 5px;  set the height of the line */
	/*background-color: #333;*/
	border: solid 1px var(--color-dark);
	margin: 20px 0;
}

.sb-link{
	margin:var(--margin-1);
	text-decoration:none;
}
.sb-item{
	padding: 10px;
}
.sb-block{
	padding:10px 0;
}