/*header*/

.sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image\buy-large-8b412cd6.webp') no-repeat;
    background-size: cover;
    background-position: center;
}

