:root{
	--card-border-radius:2rem 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;
	
	--card-padding: 1.4rem;
	--padding-1:1.2rem;
	
	--box-shadow:0 2rem 3rem var(--color-light);

}

table{
	padding:var(--card-padding);
	line-height: 120%;
	margin:30px 0 30px 15px;
}
.admin-table{
	width:auto;
}

.admin-table td{
	border-bottom:1px solid var(--color-light);
	padding-bottom:var(--padding-3);
}

.admin-table th{
	padding:var(--padding-1);
}

.time-slot-table{
	width: 100%;
}

.time-slot-table th{
	width:100px;
}

.table-width{
	width: 95%;
}

.comment-table{
	width:100%;
}

.comment-table tr{
	border-bottom: 3px solid var(--color-light);
}

.booking-table {
  border-collapse: collapse;
}

.booking-table td {
  border: 3px solid var(--color-primary);
  padding: 8px;
}