:root{
	--border: 1px solid gray;
	--border-rounded: 10px;
	--border-circle: 50%;
}


.border {
    border:var(--border);
}

.border-rounded {
    border-radius: var(--border-rounded);
}

.border-circle {
    border-radius: var(--border-circle);
}
