.button {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	margin: 20px 10px;
	cursor: pointer;
}

.booking-button{
	background-color: #4CAF50;
	color: #fff;
}

.black-button{
	background-color: #162938;
	color: azure;
	width:100%;
}